SECRET_KEY=django-insecure-key-change-this
DEBUG=False
DATABASE_URL=postgresql://dems_user:Sntu@6960@localhost:5432/dems_db
EMAIL_HOST_USER=sntualex@gmail.com
EMAIL_HOST_PASSWORD=ozngfsecuztuoptr
OPENAI_API_KEY=your-key